.container{
  display: grid;
  grid-template-rows: 150px auto;
  grid-row-gap: 50px;
  justify-items : center;
}
.nav {
  background : linear-gradient(#8fd2f7, white);
  width: 100%;
  text-align: center;
  font-size: 3em;
}

input{
  height: 45px;
  width: 300px;
  font-size: 1em;
  border: 1px solid #9E9E9E;
  padding: 0px 8px;
  background: #f6f6f6
}

button{
  margin-left : 20px;
  height: 50px;
  width: 200px;
  font-size: 1em;
}